@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "RolesList";
}

<h1>UserList</h1>
@if (Model.Any())
{
    <a asp-action="CreatRole" asp-controller="Account" class="btn btn-primary">Creat User</a>
    foreach (var user in Model)
    {
        <div class="card">
            <div class="card-header">
                <div class="card-title"> ID: @user.Id</div>

            </div>
            <div class="card-body">
                @user.UserName
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Account" class="btn btn-warning" asp-route-id="@user.Id">Edit Role</a>
                <a asp-action="DelateRole" asp-controller="Account" asp-route-id="@user.Id" class="btn btn-danger">Delate Role</a>

            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning">
        No Role in this list click here
        <a asp-action="CreatUser" asp-controller="Account" class="btn btn-primary">Creat </a>
    </div>
}
