
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied</h1>
<div class="alert alert-danger">
    you dont have permission to access this page ...
    <br/>
    <a asp-action="Index"asp-controller="Home">Back to home</a>
</div>

