@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "RolesList";
}

<h1>RolesList</h1>
@if (Model.Any())
            {
                <a asp-action="CreatRole" asp-controller="Account" class="btn btn-primary">Creat Role</a>
    foreach (var role in Model)
    {
<div class="card">
    <div class="card-header">
        <div class="card-title"> ID: @role.Id</div>

    </div>
    <div class="card-body">
        @role.Name
    </div>
    <div class="card-footer">
        <a asp-action="EditRole" asp-controller="Account" class="btn btn-warning" asp-route-id="@role.Id">Edit Role</a>
        <a asp-action="DelateRole" asp-controller="Account" asp-route-id="@role.Id" class="btn btn-danger">Delate Role</a>

    </div>
</div>
    }
}
else
            {
<div class="alert alert-warning">
    No Role in this list click here
    <a asp-action="CreatRole" asp-controller="Account" class="btn btn-primary">Creat Role</a>
</div>
            }
